.SearchBar {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.seta {
    height: 15px;
    width: 15px;
}

.categoria {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
