#admin-section {
  flex-direction: row;
  background-color: #faf7f7;
}

.input-bottom-line {
  padding: 10px 35px 10px 10px;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.input-bottom-line::placeholder {
  color: #999;
}
@media screen and (max-width: 720px) {
  #admin-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 560px) {
  #admin-section .search-input {
    max-width: 200px;
  }
}
