.servicoPrestado th, .servicoPrestado td {
    font-weight: bold;
    padding: 12px 15px;
    color: #545454;
}

.servicoPrestado .table input {
    max-width: 300px;
}

.table {
    border-style: hidden;
}