.seta {
    height: 15px;
    width: 15px;
    padding: 2px;
}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
img{
    padding: 10px;
}
p{
    padding: 10px;
}

h1{
    font-size: 30px;
    padding: 10px;
}

.HeaderBar {
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    padding: 1%;
    color: #545454;
}