@media screen and (min-width: 996px) {
  #nav-sec {
    width: 20%;
    height: 100vh;
    background-color: #363F4E;
    display: flex;
    align-items: flex-start;
  }

  #nav-options {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #logo-item {
    width: 100%;
  }

  #principal-ul {
    width: 100%;
    margin-top: 20%;
    gap: 10px;
  }
}

#nav-sec {
  background-color: #363F4E;
}
#logo-item{
  padding: 5px;
  padding-left: 15px;
  color: white;
  font-weight: bold;
}

#principal-ul {
  width: 100%;
  /* margin-top: 20%; */
  gap: 10px;
  list-style: none;
}

#principal-ul li {
  /* background-color: var(--firstColorDark); */
 
  border-radius: 5px;
  margin-inline: 5%;
}


#principal-ul li a {
  color: white;
  text-align: start;
  font-size: large;
}

p{
  color: #ffff;
  font-size: 18px;
}
.link{
  text-decoration: none;
}
.nav-item{
  background-color: #3f4959;
  padding: 8px;
  
}

